@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&family=Nunito:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border-collapse: collapse;
    text-decoration: none;
}

body{
    font-size: 1.6rem;
    width: 100%;
}

a{
    display: inline-block;
}

:root{
    --fonte-titulo: 'Manrope', sans-serif;
    --fonte-subtitulo: 'Montserrat', sans-serif;
    --fonte-paragrafo: 'Nunito', sans-serif;
    --cor-logo: #484058;
    --cor-cinza: #454545;
    --cor-cinza-super-claro: #aaaaaa;
    --cor-azul: #067e96;
    --cor-verde: rgb(157, 219, 138);
    --cor-amarela: rgb(254, 215, 0);
    --cor-cinza-star: #d0d0d0;
    --cor-vermelha-alerta: #f7d7da;
    --cor-verde-alerta: #d4edda;
    --cor-alerta-azul: #cbe5fe;
}

/* Cabecalho Visivel - Início */

.cabecalho-visivel>div.logo-pesquisa{
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: space-between;
    font-family: var(--fonte-titulo);
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    color: var(--cor-logo);
    font-family: var(--fonte-titulo);
    font-size: 2rem;
    transition: all 0.2s;
}

.logo:hover{
    transform: scale(1.05);
}

.logo img{
    width: 5rem;
}

.cabecalho-visivel form, .pesquisa-oculta form{
    width: 100%;
    position: relative;
}

.cabecalho-visivel form i, .pesquisa-oculta form i{
    position: absolute;
    font-size: 2.3rem;
    right: 1rem;
    top: 1.2rem;
}

.pesquisa{
    width: 100%;
    font-size: 1.7rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.01rem solid var(--cor-cinza-super-claro);
    font-family: var(--fonte-paragrafo);
    transition: all 0.2s;
}

.pesquisa:focus{
    transform: scale(1.01);
}

.perfil{
    font-size: 1.5rem;
    display: flex;
    gap: 0.3rem;
    flex-flow: column nowrap;
}

.perfil a{
    display: inline-block;
    color: black;
    width: 12rem;
    transition: all 0.2s;
}

.perfil a:hover{
    transform: scale(1.08);
}

.carrinho{
    font-size: 2rem;
    gap: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 10rem;
    cursor: pointer;
    transition: all 0.2s;
}

.carrinho:hover{
    transform: scale(1.08);
}

.navegacao{
    width: 100%;
    background: var(--cor-cinza);
}

.navegacao>div{
    width: 90%;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacao>div nav{
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.navegacao>div a{
    color: #fff;
    font-family: var(--fonte-subtitulo);
    cursor: pointer;
    transition: all 0.2s;
}

.navegacao>div a:hover{
    transform: scale(1.1);
}

.navegacao>div span{
    width: 0.2rem;
    display: inline-block;
    height: 3rem;
    background: #fff;
    border-radius: 1rem;
}

/* Cabecalho Visivel - Fim */

/* Cabecalho Oculto - Inicio */

.cabecalho-oculto>div:nth-of-type(1){
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 0.1rem solid #ccc;
}

.cabecalho-oculto>div:nth-of-type(1) div{
    display: flex;
    gap: 2rem;
}

.cabecalho-oculto>div:nth-of-type(1) span{
    display: flex;
    gap: 1rem;
    font-size: 2rem;
}

.cabecalho-oculto>div:nth-of-type(1) i{
    transition: all 0.2s;
    font-size: 2.5rem;
    cursor: pointer;
}

.cabecalho-oculto>div:nth-of-type(1) i:hover{
    transform: scale(1.1);
}

.cabecalho-oculto>div:nth-of-type(2){
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.pesquisa-oculta{
    width: 95%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    gap: 2rem;
}

.botao{
    width: 4.5rem;
    display: flex;
    padding: 0.7rem;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    border: 0.2rem solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: all 0.2s;
}

.botao:hover{
    transform: scale(1.1);
}

.botao span{
    width: 3rem;
    height: 0.4rem;
    border-radius: 1rem;
    background: black;
}

.botao>span:nth-of-type(1).um{
    width: 4rem;
    transform: translate(0, 1rem) rotate(-45deg);
}

.botao>span:nth-of-type(2).dois{
    opacity: 0;
}

.botao>span:nth-of-type(3).tres{
    width: 4rem;
    transform: translate(0, -1.1rem) rotate(45deg);
}

.navegacao-oculta{
    display: none;
    width: 90%;
    margin: 1rem auto;
}

body .cabecalho-oculto .navegacao-oculta-visivel{
    display: block;
}

.navegacao-oculta nav a{
    width: 100%;
    text-align: center;
    cursor: pointer;
    color: #fff;
    padding: 1rem;
    background: var(--cor-cinza);
    border: 0.1rem solid black;
}

.navegacao-oculta nav{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

/* Cabecalho Oculto - Fim */

/* Container - Início */

.container{
    width: 100%;
}

.container img{
    width: 100%;
}

.pagina-produtos{
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
}

.produto>a{
    position: relative;
}

.produto a p{
    position: absolute;
    box-shadow: 0.3rem 0.3rem 1rem var(--cor-cinza-super-claro);
    top: 0;
    left: 0;
    font-family: var(--fonte-titulo);
    color: black;
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 0.1rem solid black;
}

.produtos h1 span{
    display: inline-block;
    width: 35%;
    height: 0.3rem;
    border-radius: 1rem;
    background: black;
}

.produtos h1 p{
    font-family: var(--fonte-subtitulo);
    color: black;
    letter-spacing: 0.3rem;
    width: 30rem;
    text-align: center;
}

.produtos h1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.avaliacao{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.avaliacao p{
    font-family: var(--fonte-paragrafo);
}

.avaliacao i{
    color: var(--cor-amarela);
}

.preco p{
    font-family: var(--fonte-paragrafo);
    font-size: 2rem;
}

.preco input{
    font-family: var(--fonte-paragrafo);
    color: #fff;
    border: 0.1rem solid black;
    border-radius: 0.6rem;
    background: var(--cor-cinza);
    padding: 0.6rem;
    transition: all 0.2s;
    cursor: pointer;
}

.preco small{
    text-decoration: line-through;
    color: rgb(95, 95, 95);
    font-size: 1.7rem;
    margin-right: 1rem;
}

.preco input:hover{
    transform: scale(1.1);
}

.preco span{
    font-size: 2.5rem;
}

.produto p{
    font-size: 1.5rem;
    font-family: var(--fonte-paragrafo);
}

.produto img:hover{
    transform: scale(1.05);
}

.estrela-amarela{
    color: var(--cor-amarela);
}

.estrela-cinza{
    color: var(--cor-cinza-star);
}

.produto h2{
    width: 100%;
    font-family: var(--fonte-subtitulo);
    font-size: 2rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.comentarios{
    width: 100%;
}

.comentarios>div:nth-of-type(1){
    width: 85%;
    margin: 0 auto;
}

.comentarios h1 span{
    display: inline-block;
    width: 30%;
    height: 0.3rem;
    border-radius: 1rem;
    background: black;
}

.comentarios h1 p{
    font-family: var(--fonte-subtitulo);
    color: black;
    letter-spacing: 0.3rem;
    font-size: 2rem;
    text-align: center;
}

.comentarios h1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 10rem 0 5rem 0;
}

.comentarios>div:nth-of-type(1)>div{
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
    align-items: center;
    justify-content: center;
}

.comentario{
    width: 40rem;
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    box-shadow: 0.5rem 0.5rem 2rem var(--cor-cinza-super-claro);
}

.comentario-perfil{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.comentario-perfil p{
    font-weight: bold;
    font-style: italic;
}

.comentario p{
    font-family: var(--fonte-paragrafo);
}

/* Container - Fim */

/* Rodapé - Início */

.rodape{
    width: 100%;
    margin: 5rem 0 0 0;
    background: var(--cor-cinza);
}

.rodape>div{
    width: 90%;
    margin: 0 auto;
    padding: 4rem;
    display: flex;
    gap: 4rem;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}

.rodape-secoes nav{
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.rodape-secoes a{
    color: #fff;
    transition: all 0.2s;
}

.rodape-secoes a:hover{
    transform: scale(1.05);
    text-decoration: underline;
}

.rodape-secoes, .rodape>div:nth-of-type(2){
    width: 40rem;
    color: #fff;
    font-family: var(--fonte-subtitulo);
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
}

.rodape>div:nth-of-type(2){
    width: 90%;
    margin: 0 auto;
    font-size: 1.4rem;
    text-align: center;
}

.rodape-secoes h1{
    font-size: 3rem;
    letter-spacing: 0.5rem;
    margin-bottom: 1.3rem;
}

.rodape-secoes p{
    font-size: 1.2rem;
}

/* Rodapé - Fim */

@media (min-width: 750px){

    html{
        font-size: 62.5%;
    }

    .cabecalho-visivel{
        width: 100%;
        height: auto;
    }

    .cabecalho-oculto{
        display: none;
        width: 100%;
        font-family: var(--fonte-titulo);
    }

    .produtos>div:nth-of-type(1){
        display: flex;
        flex-flow: row nowrap;
        gap: 2rem;
        justify-content: center;
        align-items: flex-start;
    }

    .produto{
        display: flex;
        flex-flow: column nowrap;
        gap: 1.6rem;
        width: 40rem;
    }

    .produto img{
        width: 100%;
        object-fit: cover;
        transition: all 0.2s;
    }

    .produtos{
        width: 85%;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;
    }

    .preco{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .produto>div:nth-of-type(1){
        display: flex;
        width: 100%;
        flex-flow: column nowrap;
        gap: 1rem;
    }

}

@media (max-width: 749.98px) and (min-width: 495px){

    html{
        font-size: 55.5%;
    }

    .cabecalho-visivel{
        display: none;
        width: 100%;
        height: auto;
    }

    .cabecalho-oculto{
        width: 100%;
        font-family: var(--fonte-titulo);
    }

    .produtos>div:nth-of-type(1){
        display: flex;
        flex-flow: column nowrap;
        gap: 3rem;
        justify-content: center;
        align-items: flex-start;
    }

    .produto{
        display: flex;
        flex-flow: row nowrap;
        gap: 1.6rem;
        width: 40rem;
        width: 100%;
    }

    .produto img{
        width: 30rem;
        align-self: center;
        transition: all 0.2s;
    }

    .produtos{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;
    }

    .avaliacao{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
    }

    .preco{
        display: flex;
        justify-content: flex-start;
        gap: 3rem;
        align-items: flex-end;
    }

    .produto>div:nth-of-type(1){
        display: flex;
        width: 100%;
        flex-flow: column nowrap;
        gap: 1rem;
    }

    .rodape>div{
        justify-content: center;
        align-items: center;
    }

}

@media (max-width: 494.98px){

    html{
        font-size: 55.5%;
    }

    .cabecalho-visivel{
        display: none;
        width: 100%;
        height: auto;
    }

    .cabecalho-oculto{
        width: 100%;
        font-family: var(--fonte-titulo);
    }

    .produtos>div:nth-of-type(1){
        display: flex;
        flex-flow: column nowrap;
        gap: 3rem;
        justify-content: center;
        align-items: flex-start;
    }

    .produto{
        display: flex;
        flex-flow: column nowrap;
        gap: 1.6rem;
        width: 40rem;
        width: 100%;
    }

    .produto img{
        width: 100%;
        position: relative;
        align-self: center;
        transition: all 0.2s;
    }

    .produtos{
        width: 100%;
        margin: 0 auto;
        display: flex;
        flex-flow: column nowrap;
        gap: 2rem;
    }

    .avaliacao{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .preco{
        display: flex;
        justify-content: flex-start;
        gap: 3rem;
        align-items: flex-end;
    }

    .produto>div:nth-of-type(1){
        display: flex;
        width: 100%;
        align-items: center;
        flex-flow: column nowrap;
        gap: 1rem;
    }

    .produto h2{
        text-align: center;
    }

    .comentarios h1 span{
        display: none;
    }

    .rodape>div{
        justify-content: center;
        align-items: center;
    }

}

